.aboutus-modal {
    z-index: 3000;
    font-family: 'IBM Plex Sans';
}

.aboutus-custom-backdrop-modal {
    z-index: 3000;
}

.aboutus-modal-header {
    font-size: 20px;
    font-weight: 700;
    
}

.aboutus-body-container {
    padding: 10px 20px;
}

.aboutus-body-container-1-img {
    width: 65px;
    height: 62px;
    margin-right: 10px;
}

.aboutus-body-container-1-title-name {
    font-size: 20px;
    font-weight: 700;
    
}

.aboutus-body-container-1-title-copyright {
    font-size: 16px;
    font-weight: 400;
}

.aboutus-body-container-table-row-value {
    padding-left: 10px;
    font-weight: 600;
}