.menu-tab-mobile-popup {
    z-index: 1300 !important;
}

.menu-tab-mobile-logo-img {
    width: 59.49px;
    height: 50px;
}

.menu-tab-mobile-title {
    font-family: 'IBM Plex Sans';
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
}

.menu-tab-mobile-margin-top {
    height: 50px;
}