.config-factory-popup {
    z-index: 1300 !important;
}

.config-factory-popup-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d6d6d6;
    height: 60px;
    padding: 5px 5px 5px 15px;
}

.config-factory-popup-header-title {
    display: flex;
    align-items: center;
    font-family: 'IBM Plex Sans' !important;
    font-weight: 600;
    font-size: 16px;
}

.config-factory-popup-body {
    padding: 30px 32px 30px 32px;
}

.config-factory-popup-body-text-field {
    margin-bottom: 15px;
}

.config-factory-popup-body-confirm-btn {
    margin-top: 40px !important;
    text-transform: none !important;
    font-family: 'IBM Plex Sans' !important;
}

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    z-index: 5000 !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
    z-index: 5000 !important;
}